.boxC {
    font-size: 21px;
    position: relative;
    margin: 0;

    &__elem {
        @include flex(flex-start, center);
        flex-wrap: wrap;
        // width: auto;
        border-radius: 10px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.2);
        position: relative;
        padding: 15px 20px 12px 20px;
        margin-bottom: 18px;
        background-color: $white;
        word-wrap: break-word;

        &:after { 
            display: none;
        }

        &:hover {
            background-color: $color-4;
            cursor: pointer;
            color: $white;
        }
    }

    &__elem-year {
        display: none;

        &:after {
            display: none;
        }
    }


    &__elem-title {
        font-size: 1.15rem;
        line-height: 26px;
        padding: 0px;
        margin-right: 4px;
        font-weight: 400;
        position: relative;
        display: flex;
        width: 100%;

        &:before {
            content: '\201c';
        }

        &:after {
            content: '\201e';
            position: absolute;
            top: -12px;
        }
    }

    &__elem-text {
        font-size: 1rem;
        padding: 1px;
        width: 100%;
        hyphens: auto;
        font-weight: 300;
    }

    &__elem-line {
        padding: 0px;
        line-height: 26px;
        width: 100%;
        word-wrap: break-word;
    }

    /* --- Анимация --- */

    &__elem { 
        @include an-flipInX(1s); 
        z-index: 1; 
    }
    &__elem:after { @include an-slideInDown(1.5s); }
   
    @keyframes boxC__elem {
        from { 
            background-color: $white;
        }
        to { 
            background-color: $color-4; 
        }
    }

}