/* --- main --- */
* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    font-family: 'Fira Sans', sans-serif;
}
.wrapper {
    width: 940px;
    margin: 0 auto;
    
}

/* --- header ------------------------------------------ */

.header {
    position: fixed;
    z-index: 1;
    height: 80px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    border-bottom: 1px solid #f5f5f5;
    color: #414141;
}
.header__user {}
.user {
    padding-top: 9px;
}
.user__avatar {
    float: left;
    border-radius: 50%;

    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #f6f6f6;
    border: 1px solid #d6d6d6;
    overflow: hidden;
    margin-right: 20px;
}
.user__avatar-i {
    max-width: 100%;
}
.user__name {
    float: left;
    font-size: 18px;
    line-height: 60px; /*выравниваем по вертикали*/
}

/* contact */
.user__contact {
    float: right;
}
.user__contact:after { /*clear-fix*/
  content: "";
  clear: both;
  display: block;
}
.contact {
    margin-top: 20px;
}
.contact__button {
    border-bottom: 1px dashed #32c3e5;
    font-size: 18px;
    color: #32c3e5;
    font-weight: bold;
    position: relative;
}
.contact__button:after {
    /*псевдоблок для ховера*/
    // content: '';
    // width: 100px;
    // height: 100px;
    // position: absolute;
    // top: 0px;
    // left: 0px;
    // background-color: green;
}
.contact__button:hover {
    color: #e85f61;
    border-bottom: 1px dashed #e85f61;
    cursor: pointer;
}
.contact__list_hidden {
    visibility: hidden;
}
.contact__list-point {
    position: relative;
}
.contact__list-point-link {
    padding-left: 25px;
    text-decoration: none;
    color: #727272;
}
.contact__list-point-link:before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 0px;
    background-size: cover;
    color: #33c1e3;
}
.contact__list-point-link_mail:before {
    background-image: url(../img/ico/mail.svg);
}
.contact__list-point-link_tel:before {
    background-image: url(../img/ico/telephone.svg);
}
.contact__list-point-link_skype:before {
    background-image: url(../img/ico/skype.svg);
}
.contact__button:hover .contact__list {
    /*display: block !important;*/
    visibility: visible;
}
.contact__list {
    border: 1px solid #dddddd;
    border-radius: 10px;
    height: 120px;
    width: 160px;
    background-color: #ffffff;
    position: absolute;
    color: #727272;
    list-style: none;
    font-size: 18px;
    font-weight: normal;
    top: 40px;
    left: -32px;
    padding: 10px 15px;
    line-height: 40px;
}

.contact__list:before {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 11px solid #ffffff;
    border-bottom-color: #dddddd;
    position: absolute;
    bottom: 100%;
    right: 90px;
    content: '';
} 
.contact__list:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #dddddd;
    border-bottom-color: #f6f6f6;
    position: absolute;
    bottom: 100%;
    right: 91px;
    content: '';
}

/* --- content ----------------------------------------- */

.content {
    padding-top: 106px; /*81+25*/
    color: #727272;
    height: calc(100% - 156px);
    background-color: #f6f6f6;
    min-height: 440px;
}
/* menu */
.content__menu {
    color: #414141;
    float: left;
    width: 220px;
}
.menu {
    margin-right: 31px; /*25+6*/
}
.menu__point {
    border-right: 6px solid #f6f6f6;
    line-height: 44px;
    text-align: right;
    width: 100%;
    padding-right: 25px;
    font-size: 18px;
}
.munu__point_active {
    border-right: 6px solid #32c8e9 !important;
}
.munu__point_active .menu__point-link {
    color: #33c1e3 !important;
    font-weight: bold;
}
.menu__point-link {
    text-decoration: none;
    color: #414141;
    position: relative;
}
.menu__point-link:hover {
    color: #33c1e3;
}
.menu__point-link:hover:before {
    color: #33c1e3 !important;
}

.menu__point-link:before {
    content: "";
    width: 26px;
    height: 26px;
    position: absolute;
    top: -3px;
    left: -30px;
    background-size: cover;
    color: #414141;
}

.menu__point-link_about:before {
    background-image: url(../img/ico/user-secret.svg);
}
.menu__point-link_carer:before {
    background-image: url(../img/ico/rocket.svg);
}
.menu__point-link_portfolio:before {
    background-image: url(../img/ico/briefcase.svg);
}

/*
#user-secret, #rocket, #briefcase {
    color: green;
}
*/

/* about */
.content__about {
    float: right;
    width: 720px; /*340+380*/
}
.content__about:after { /*clear-fix*/
    content: "";
    clear: both;
    display: block;
}
.about {}
.about__photo { 
    width: 220px; /*340px с полями*/
    height: 220px;
    border-radius: 50%;
    background-color: #f5f5f5;
    border: 5px solid #ffffff;
    overflow: hidden;
    margin: 0 55px;
    float: left;
}
.about__photo-i {
    max-width: 100%;
}
.about__title {
    width: 100%;
    height: 50px;
    font-size: 35px;
    color: #414141;
}
.about__text {
    width: 100%;
    height: 300px;
    font-size: 18px;
    overflow: auto;
    font-weight: lighter;
    line-height: 27px;
}
.about__description { 
    float: left;
    width: 380px;
}
.about__description:after { /*clear-fix*/
    content: "";
    clear: both;
    display: block;
}
/* button */
.about__button {
    margin-top: 40px;
    float: right;
}
.about__button:after { /*clear-fix*/
    content: "";
    clear: both;
    display: block;
}
.about__button-dw {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    border: 2px solid #e85f61;
    font-size: 14px;
    color: #e85f61;
    text-align: center;
    width: 173px;
    height: 40px;
    border-radius: 20px;
    background-color: #f6f6f6;
    clear: right;
}
.about__button-dw:hover {
    background-color: #e85f61;
    color: #f6f6f6;
    cursor: pointer;
}

/* --- footer ------------------------------------------ */

.footer {
    width: 100%;
    height: 50px;
    background-color: #414141;
    color: #727272;
}
.footer__ownership {
    float: left;
    line-height: 50px;
}
.footer__ownership::before {
    content: '\00A9';
    padding-right: 5px;
}
.footer__soc {
    float: right;
    margin-top: 10px;
}
.footer__soc:after { /*clear-fix*/
    content: "";
    clear: both;
    display: block;
}
.soc {
    list-style: none;
}
.soc__point {
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* background-color: #ffffff;*/
    color: #9c9c9c;
    overflow: hidden;
    margin-left: 8px;
    position: relative;
}

.soc li:first-child {
    margin-left: 0px
}
.soc__point-i{
    max-width: 100%;
    z-index: 1;
    position: absolute;
}

.soc__point-a:after {
    content: '';
    width: 24px;
    height: 24px;
    background-color: white;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 0;
    border-radius: 50%;
}
/* 
#svg_1 {
    background-color: green;
}
.soc__point-a {

}
.soc__point_fs {
   
}
.soc__point_vk {
 
}
.soc__point_tw {

}

#fs {}
#canvas_background {}
*/