.content {
    
    padding-top: 101px;
    color: #727272;
    background-color: $grey-white;
    min-height: calc(100% - 151px);

    &__container {
        @include wrap();
        @include flex(space-between, stretch);
    }
    &__menu {
        color: $grey-black;
        width: 220px;
    }
    &__section {
        width: 720px; /*340+380*/
    }

}
