.content {
    
    padding-top: 80px;
    color: $color-1;
    background-color: $color-3;
    min-height: calc(100% - 130px);
    width: 100%;
    min-width: 300px;

    &__container {
        @include wrap();
        @include flex(space-between, stretch);
        margin: 0 auto;
        padding-top: 21px;
        min-width: 940px;
        background-color: $color-3;
    }
    
    &__menu {
        color: $color-2;
        width: 220px;
        min-width: auto;
    }

    &__section {
        width: 720px; /*340+380*/
    }

}
