.content {


    
    &__container {
        @include wrap-tablet();
        padding-top: 0px;
        display: flex;
        flex-wrap: wrap;
        min-width: auto;
    }

    &__menu {
        width: 100%;
        height: auto;

    }

    &__section {
        
        margin: 0 auto;
        width: 100%;
    }

}
