.career {
    padding-left: 18px;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    &__title {
        width: 100%;
        color: $color-2;
        font-size: 35px;
        font-weight: 600;
        padding: 0 0 24px 0;
    }

    &__picture {
        width: 220px;
        height: 220px;
        border-radius: 9px;
        background-color: $color-1;
        overflow: hidden;
        background-position: center center;
        margin: 1px 18px 0 2px
    }

    &__picture-img {
        margin: -7px 0 0 -93px;
    }

    &__boxC {
        @include flex(flex-end, stretch);
        width: calc(100% - 240px); /*100%-20+220*/
    }

    /* --- Анимация --- */
    &__title { @include an-lightSpeedIn(1s); }
    &__picture { @include an-zoomIn(1s); }
}