.box {
    // font-family: $fira-sans;
    font-size: 21px;
    position: relative;

    &__elem {
        width: 360px;
        height: 87px;
        border-radius: 10px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.2);
        position: relative;
        padding: 20px;
        margin-bottom: 20px;
    }
    &__elem:hover {
        background-color: $blue;
        cursor: pointer;
        color: $white;
    }
    &__elem:before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: $blue;
        top: 35%;
        left: -55px;
        z-index: 1;
        border-radius: 50%;
        border: 5px solid $grey-white;
    }
    &__elem:hover:before {
        border: 5px solid $blue-career-circle;
    }
    &__elem-title {
        font-weight: 500; /*medium*/
    }
    &__elem-text {
        font-weight: 400; /*regular*/
    }
    &__elem-line {
    }
    &:after {
        content: '';
        position: absolute;
        width: 1px;
        height: 440px;
        background-color: $shadows;
        top: 56px;
        left: -45px;
    }
}