$grey: #727272;
$grey-black: #414141;
$grey-white: #f6f6f6;
$blue: #33c1e3;
$red: #e85f61;
$white: #ffffff;

$blue-soc: #5d99c3;
$grey-soc: #989898;

$blue-career-circle: #94dff2;
$shadows: #dddddd;
// @mixin font-firasans(){
// 	font-family: 'Fira Sans', sans-serif;
// } 