.header {
    
    position: fixed;
    z-index: 2;
    height: 79px;
    width: 100%;
    background-color: $white;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid $shadows;
    color: $grey-black;

    &__container {
        @include wrap();
        padding-top: 2px;
    }
	&__user {}

}