.user {

    height: 100%;
    padding: 0px;
    
    &__avatar {
        margin-right: 18px;
    }

	&__avatar-name {
        @include flex(flex-start, center);
        margin-left: 10px;
        width: auto;
    }
	
	&__name {
        white-space: normal;
        line-height: 1.5;
        font-size: 0.88rem;
        display: flex;
        margin-top: -5px;
    }

	&__contact {
        width: 25%;
    }

    &__name-br {
        display: block;
    }

    &__avatar-i {}
    &__name-a {}

}