.menu {
    margin-right: 31px; /*25+6*/
    margin-top: 1px;

    &__point {
        border-right: 6px solid $grey-white;
        line-height: 44px;
        text-align: right;
        width: 100%;
        padding-right: 25px;
        font-size: 18px;
    }
    &__point_active {
        border-right: 6px solid $blue;
    }
    &__point_active &__link {
        color: $blue !important;
        font-weight: bold;
    }
    &__link {
        text-decoration: none;
        color: $grey-black;
    }
    &__link:hover {
        color: $blue;
    }
    &__link-tit {
        padding-left: 5px;
    }
    &__link-ico {
        margin-right: -1px;
    }
    &__point-portfolio &__link-tit {
        margin-right: -1px;
    }

    
    /* Анимация */
    &__point_active > &__link {
        display:block;
        animation-duration: .75s;
        animation-name: bounceIn;
    }
    @keyframes bounceIn {
        from, 20%, 40%, 60%, 80%, to {
            animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        }
        0% {
            opacity: 0;
            transform: scale3d(.3, .3, .3);
        }
        20% {
            transform: scale3d(1.1, 1.1, 1.1);
        }
        40% {
            transform: scale3d(.9, .9, .9);
        }
        60% {
            opacity: 1;
            transform: scale3d(1.03, 1.03, 1.03);
        }
        80% {
            transform: scale3d(.97, .97, .97);
        }
        to {
            opacity: 1;
            transform: scale3d(1, 1, 1);
        }
    }

    &__point { opacity: 0; }
    &__point-about { animation: anim 1s ease 0s forwards; }
    &__point-career { animation: anim 1s ease .2s forwards; }
    &__point-portfolio { animation: anim 1s ease .4s forwards; }

    @keyframes anim {
      from {
            opacity: 0;
            transform: translate(-100%, 0);
        }
        to {
            opacity: 1;
            transform: translate(0px, 0);
        }
    }
}


