.box {
    font-size: 21px;
    position: relative;
    margin-left: 100px;

    &__elem {
        width: 340px;
        border-radius: 10px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.2);
        position: relative;
        padding: 15px 20px 11px 20px;
        margin-bottom: 20px;
        background-color: $white;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    &__elem:hover {
        background-color: $blue;
        cursor: pointer;
        color: $white;
    }
    &__elem-year {
        position: absolute;
        left: -62px;
        top: 43%;
        font-size: 14px;
        font-weight: 300; /*light*/
    }
    &__elem-year:after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: $blue;
        top: -6%;
        right: -25px;
        z-index: 1;
        border-radius: 50%;
        border: 5px solid $grey-white;
    }
    &__elem:hover &__elem-year {
        color: $blue;
        font-size: 18px;
        margin: -1px 0 0 -12px;
    }
    &__elem:hover &__elem-year:after {
        border: 5px solid $blue-career-circle;
        right: -26px;
        top: 0px;
    }
    &__elem-title {
        font-weight: 400;
        position: relative;
        display: flex;
        width: 100%;
        margin-bottom: 4px;
    }
    &__elem-title:before {
        content: '\201c';
    }
    &__elem-title:after {
        content: '\201e';
        position: absolute;
        top: -13px;
    }
    &__elem-text {
        font-weight: 300;
        font-size: 18px;
    }
    &__elem-line {
        margin-bottom: 4px;
    }

    /* --- Анимация --- */

    &__elem { 
        @include an-flipInX(1s); 
        z-index: 1; 
    }
    &__elem:hover { 
        animation: box__elem .4s forwards; 
        z-index: 1; 
    }
    @keyframes box__elem {
        from { 
            background-color: $white;
            color: $grey-black;
        }
        to { 
            background-color: $blue; 
            color: $white;
        }
    }

}