.content {
    min-height: calc(100% - 130px);
    padding-top: 80px;
    color: $color-1;
    background-color: $color-3;
    width: 100%;
    min-width: 300px;

    &__container {
        @include wrap-tablet();
        display: flex;
        flex-wrap: wrap;
        background-color: $color-3;
    }

    &__menu {
        color: $color-2;
        width: 100%;
        min-width: 303px
    }

    &__section {
        width: 100%;
    }

}
