.about {
    @include flex(flex-end, stretch);
    flex-wrap: wrap;
    margin: 20px 5%;
    // align-content: flex-start;
    
    &__photo {
        width: 30%;
        height: 30%;
        max-width: 220px;
        margin: 3px 42px 20px 0px;
        position: relative;
        border-radius: 50%;
        background-color: $color-3;
        border: 5px solid $white;
        overflow: hidden;
    }
    
    &__photo-i {
        max-width: 100%;
        margin-bottom: -5px; /*толщина border*/
    }

    &__description {
       width: 58%;
    }

    &__title {
        width: 100%;
        font-size: 2.18rem;
        margin-top: 5px;
        text-align: center;
        height: 48px;
        color: $color-2;
    }

    &__text {
        height: 366px;
        width: auto;
        margin: 0;
        font-size: 1rem;
        overflow: auto;
        padding: 0 10px;
        line-height: 24px;
        font-weight: 300; 
    }

    &__button {
        margin: 35px 0 30px;
    }

    &__button-ico {
        margin: 0;
    }

    &__button-txt {
        margin-right: 7px;
        letter-spacing: 1px;
    }

    &__button-dw {
        font-weight: bold;
        border: 2px solid $color-5;
        font-size: 14px;
        color: $color-5;
        text-align: center;
        width: 169px;
        height: 36px;
        border-radius: 20px;
        background-color: $color-3;
        line-height: 36px;

        &:hover {
            background-color: $color-5;
            color: $color-3;
            cursor: pointer;
        }
    }
    
    /* --- Анимация --- */
    &__photo { @include an-zoomIn(1s); }
    &__title { @include an-lightSpeedIn(1s); }
    &__text { @include an-rotateInUpLeft(.8s); }
    &__button { @include an-flipInX(2s); }
    &__button-dw:hover {
        transition: transform .3s;
        transform: scale(1.1);
    }
    &__button-dw:active {
        transform: scale(1);
    }
}


/* --- Скролл ------------------------------------------ */
.mCSB_container {
    width: auto;
    width: 100px;
}
.mCSB_container_wrapper {
    margin-right: 0 !important;
}

.mCSB_container_wrapper>.mCSB_container {
    padding-right: 19px !important;
}

.mCSB_draggerContainer {
    height: 285px !important;
    margin: 5px 0 !important;
}
.mCSB_dragger_bar {
    width: 5px !important;
    margin-left: 7px !important;
    background-color: $color-7 !important;
    margin: 0px 7px !important;
    height: 98% !important;
}

.mCSB_draggerRail {
    margin-left: 8px !important;
}

#mCSB_1_scrollbar_horizontal {
    display: none;
}
#mCSB_1_scrollbar_horizontal .mCSB_draggerContainer {
    display: none;
}