.about {

    @include flex(flex-start, stretch);
    margin-top: 15px;
    
    &__photo {
        width: 20%;
        height: 20%;
        margin: 0px 0px 0 0px;
        padding: 0 0 0 0px;
        display: block;
    }
    
    &__photo-i {}

    &__description {
       
    }

    &__title {}

    &__text {}

    &__button {}

    &__button-dw {
        &:hover {}
    }

    &__button-ico {}

    &__button-txt {}

    /* --- Анимация --- */
    &__photo { @include an-zoomIn(1s); }
    &__title { @include an-lightSpeedIn(1s); }
    &__text { @include an-rotateInUpLeft(.8s); }
    &__button { @include an-flipInX(2s); }
    &__button-dw:hover {}
    &__button-dw:active {}
}


/* --- Скролл ------------------------------------------ */
.mCSB_container_wrapper {}
.mCSB_container_wrapper>.mCSB_container {}
.mCSB_draggerContainer {}
.mCSB_dragger_bar {}
.mCSB_draggerRail {}