.about {
    @include flex(flex-end, stretch);
    flex-wrap: wrap;
    margin: 20px 5%;
    
    &__photo {
        width: 30%;
        height: 30%;
        max-width: 220px;
        margin: 3px 42px 20px 0px;
        position: relative;
    }
    
    &__photo-i {
        max-width: 100%;
        margin-bottom: -5px; /*толщина border*/
    }

    &__description {
       width: 442px;
       height: auto;
       width: auto;
       width: 58%;
    }

    &__title {
        width: 100%;
    }

    &__text {
        height: 366px;
        width: auto;
    }

    &__button-dw {
        &:hover {}
    }

    &__button {}
    &__button-ico {}
    &__button-txt {}

    /* --- Анимация --- */
    &__photo { @include an-zoomIn(1s); }
    &__title { @include an-lightSpeedIn(1s); }
    &__text { @include an-rotateInUpLeft(.8s); }
    &__button { @include an-flipInX(2s); }
    &__button-dw:hover {}
    &__button-dw:active {}
}


/* --- Скролл ------------------------------------------ */
.mCSB_container {
    width: auto;
    width: 100px;
}
