.contact {

    &__button-ico {
        display: none;
    }

    &__button-name {
        display: block;
    }

    &__button {
        border-bottom: 1px dashed $color-4;
        font-size: 18px;
        color: $color-4;
        font-weight: bold;
        position: relative;

        &:hover {
            color: $color-5;
            border-bottom: 1px dashed $color-5;
            cursor: pointer;
        }

        &:hover:after {
            content: '';
            position: absolute;
            width: 190px;
            height: 45px;
            background-color: rgba(85, 85, 85, 0);
            left: -31px;
            top: -2px;
        }

    }

    &__list {
        border: 1px solid $shadows;
        border-radius: 10px;
        background-color: $white;
        position: absolute;
        color: $color-1;
        list-style: none;
        font-size: 18px;
        font-weight: normal;
        top: 36px;
        left: -64px;
        padding: 10px 15px;
        line-height: 40px;
        z-index: 3;

        &:before {
            content: '';
            border-left: 16px solid transparent;
            border-right: 4px solid transparent;
            border-bottom: 11px solid $white;
            border-bottom-color: $shadows;
            position: absolute;
            bottom: 100%;
            left: 117px;
        }

        &:after {
            content: '';
            border-left: 13px solid transparent;
            border-right: 3px solid transparent;
            border-bottom: 9px solid $shadows;
            border-bottom-color: $color-3;
            position: absolute;
            bottom: 100%;
            left: 119px;
        }
    }

    &__point-link {
        text-decoration: none;
        color: $color-1;
        white-space: nowrap;
   
        &:hover {
            color: $color-4;
        }
    }


    &__list_hidden {
        visibility: hidden;
    }

    &__point {
        position: relative;
    }

    &__point-ico {}
    &__point-data {}

}



/* Анимация */
.contact__button:hover > .contact__list, {
    animation: shows .3s ease-out forwards;
    visibility: visible;
}

@keyframes shows {
    0% { 
        opacity: 0;
        transform: translate(10px, -10px);
    }
    100%{ opacity: 1; }
}
