.contact {

    height: 100%;
    width: 100%;
    @include flex(center, center);

    &__button-ico {
        display: block;
        font-size: 2.5rem;
        margin-left: 26px;
    }
    
    &__button-name {
        display: none;
    }

	&__button {
        border-bottom: none;
    }

    &__button:hover {
        border-bottom: none;
    }

    &__button:hover:after {
        content: '';
        position: absolute;
        width: 100px;
        height: 65px;
        background-color: rgba(85, 85, 85, 0);
        left: -30px;
        top: 0px;
    }
    
    &__list {
        top: 58px;
        left: -130px;

        &:before {
            border-left: 10px solid transparent;
            border-right: 0px solid transparent;
            border-bottom: 10px solid $white;
            left: 152px;
            z-index: 2;
        }
        &:after {
            border-left: 14px solid transparent;
            border-right: 0px solid transparent;
            border-bottom: 16px solid $shadows;
            left: 150px;
        }
    }

    &__list_hidden {}
    &__point {}
    &__point-link {}
    &__point-link:hover {}
    &__button:hover &__list {}
	&__point-ico {}
	&__point-data {}

}