.contact {

    height: 100%;
    width: 100%;
    @include flex(center, center);
    margin-right: 10px;

    &__button-ico {
        display: none;
    }
    
    &__button-name {
        display: block;

    }

	&__button {
        &:hover {}
        &:hover:after {}
    }

    &__button:hover &__list {}

	&__list {
        top: 40px;
        left: -80px;

        &:before {}
        &:after {}
    }
    
    &__list_hidden {}
    &__point {}
    &__point-link {
        &:hover {}
    }
	&__point-ico {}
	&__point-data {}

}