.menu {

    margin-right: 30px; /*25+6*/
    margin-top: 3px;

    &__point {
        border-right: 6px solid $color-3;
        line-height: 44px;
        text-align: right;
        width: 100%;
        padding-right: 25px;
        font-size: 18px;
    }

    &__point_active {
        border-right: 6px solid $color-4;
    }

    &__point_active &__link {
        color: $color-4 !important;
        font-weight: bold;
    }

    &__link {
        text-decoration: none;
        color: $color-2;
    
        &:hover {
            color: $color-4;
        }
    }

    &__link-tit {}

    &__link-ico {
        margin-right: 5px;
    }
    &__link .fa-rocket {
        margin-right: 3px;
    }


    
    /* --- Анимация ------------------------------------ */

    /*Прыгающие элементы меню при клике*/
    &__point_active > &__link {
        display:block;
        @include an-bounceIn(1s)
    }

    /*Выезжание элементов меню*/
    @keyframes menu__point {
        from {
            opacity: 0;
            transform: translate(-100%, 0);
        }
        to {
            opacity: 1;
            transform: translate(0px, 0);
        }
    }
    
    &__point { opacity: 0; }
    &__point-about { animation: menu__point 1s ease 0s forwards; }
    &__point-career { animation: menu__point 1s ease .2s forwards; }
    &__point-portfolio { animation: menu__point 1s ease .4s forwards; }    
}


